{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Order's Up
        {% endblock title %}
    </title>

    {% block styles %}

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% endblock styles %}

    {% block head_scripts %}
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="node_modules/angular-filter/dist/angular-filter.min.js"></script>
    {% endblock head_scripts %}
</head>
<body>
  
    {% block content %}
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    
                    <div class="navbar-header">
                        <button 
                            type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#header-navbar-collapse"
                        >
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <span class="restaurant-name">
                            Essen
                        </span>            
                    </div>
                    <div id="header-navbar-collapse" class="collapse navbar-collapse">
                        
                        <ul class="nav navbar-nav navbar-left">
                            <li class="orders-up">
                                Order's Up
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block page_content %}
                
            {% endblock page_content %}
        </div>
    {% endblock content %}

    {% block body_scripts %}
      
    {% endblock body_scripts %}
</body>
<footer>Kelly Innovation</footer>
</html>