body {
	margin-top: 70px;
	margin-bottom: 90px;
}

nav {
	background-color: black;
	color: #d4af37;
}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	background-color: white;
	width: 100%;
}

h2 {
	text-align: center;
}

.icon-bar {
	background-color: #d4af37;
}

#orders-up {
	margin-top: 5px;
}

.restaurant-name {
	font-size: 32px;
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    vertical-align: middle;
}

.state-button-links{
	text-decoration: none;
	color: black;
}

.menu-title {
	text-align: center;
}

.guest-button {
	background-color: #d4af37;
	border-radius: 4px;
	color: black;
}

.navbar-nav a {
	text-decoration: none;
	color: #d4af37;
}

.welcome-message {
	margin-top: 20px;
}

.login-button-row {
	width: 100%;
	text-align: center;
}

.guest-logins {
	position: relative;
	text-align: center;
	z-index: 200;
	margin: 5px;
}

.menu-categories {
	text-align: center;
}

.modal-header {
	background-color: black;
	color: #d4af37;
	font-size: 24px;
	text-align: center;
}

.guest-main-photo {
	width: 100%;
	position: relative;
	top: -90px;
}

.page-link-buttons {
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 20px;
	background-color: white;
}
