body {
	margin-top: 70px;
	margin-bottom: 70px;
}

nav {
	background-color: black;
	color: #d4af37;
}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	background-color: white;
	width: 100%;
}



.icon-bar {
	background-color: #d4af37;
}

#orders-up {
	margin-top: 5px;
}

.restaurant-name {
	font-size: 32px;
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    vertical-align: middle;
}

.menu-title {
	text-align: center;
}

.guest-button {
	background-color: #d4af37;
	border-radius: 4px;
	color: black;
}

.hostess-seating-rows :nth-of-type(odd) {

}

.hostess-seating-rows :nth-of-type(even) {

}

.menu-categories {
	text-align: center;
}

.modal-header {
	background-color: black;
	color: #d4af37;
	font-size: 24px;
	text-align: center;
}

.guest-main-photo {
	width: 100%;
}
