
<div class="row">
	<div class="col-md-4">
		<h1>Check-In</h1>
		<hostess-checkin 
			party="hostessPageCtrl.editedParty"
			save="hostessPageCtrl.saveParty(editedParty)"
		/>
	</div>
	<div class="col-md-7 col-md-offset-1">
		<h1>Seating</h1>
		<div class="row">
			<div class="col-md-7">
				<h2>Party Name</h2>
			</div>
			<div class="col-md-1">
				<h2>#</h2>
			</div>
			<div class="col-md-4">
				<h2>Wait Time</h2>
			</div>
		</div>
		<div class="row ">
			<div class="hostess-seating-rows" ng-repeat="host in hostessPageCtrl.hostess | orderBy: 'checkin_time'">
				<div class="col-md-8">
					<hostess-seating 
						
						host="host"
						delete="hostessPageCtrl.deleteParty(partyToDelete)"
					/>
				</div>
				<div class="col-md-4">
					<party-hostess-buttons 
						ng-repeat="party in hostessPageCtrl.parties"
						party="party"
						host="host"
						ng-show="party.hostess == host.id"
					/>
				</div>
			</div>
		</div>
	</div>
</div>