
<form ng-submit="kitchenFormCtrl.saveMenuItem()">
	<div class="form-group">
		<h3>
			Item Name
		</h3>
		<input 
			type="text" 
			class="form-control" 
			ng-model="kitchenFormCtrl.editedMenu.item_name"
		>
		<h3>
			Item Description
		</h3>
		<input 
			type="text"
			class="form-control" 
			ng-model="kitchenFormCtrl.editedMenu.item_description"
		>
		<h3>
			Item Price
		</h3>
		<input 
			type="text"
			class="form-control" 
			ng-model="kitchenFormCtrl.editedMenu.item_price"
		>
		<h3>
			Meat Size
		</h3>
		<input 
			type="text"
			class="form-control" 
			ng-model="kitchenFormCtrl.editedMenu.meat_size"
		>
		<h3>
			Category
		</h3>
		<select 
			class="form-control" 
			ng-model="kitchenFormCtrl.editedMenu.category" 
		>
			<option value="DRINKS">Drinks</option>
			<option value="APPETIZERS">Appetizers</option>
			<option value="SALADS">Soups and Salads</option>
			<option value="BEEF">Beef</option>
			<option value="POULTRY">Poultry</option>
			<option value="PORK">Pork</option>
			<option value="SEAFOOD">Seafood</option>
			<option value="PASTA">Pasta</option>
			<option value="SIDES">Side Items</option>
			<option value="OTHER">Other</option>
			<option value="DESSERTS">Desserts</option>
		</select>	
	</div>
	<button class="guest-button" type="submit">
		Add Menu Item
	</button>
</form>